{% extends "base.html" %}

{% block content %}
<!-- This file is essentially the same file as review_page.html and was created as first to tackle the TV issue. We could not solve this issue on time. -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-4">{{result.title}}</h1>
            <p class="text-center"> Director: {{result.director}}</p>
            <p class="text-center">Release date: {{result.release_date}}</p>
        </div>
        <div class="container-fluid pt-md-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="{{ result.poster_path }}" alt="{{result.title}} poster" class="img-fluid mb-3">
                </div>
                <div class="col-md-6 pt-md-4">
                    <div class="row justify-content-center">
                        <div class="col-md-8 w-100">
                            <h3 class="pt-4">Plot: </h3>
                            {{result.overview}}
                            <h3 class="mt-3">Rating: {{ result.rating|round(1)}}/10.0</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Top Cast:</h3>
                        <ul>
                            {% for member in result.cast %}
                            {%if loop.index <= 12%}
                                <li>{{ member }}</li>
                            {%endif%}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Users will be able to add reviews on the same page so no need to create a new template. The review is a sample review. -->
                <div class="container mt-4">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            {% if current_user.is_authenticated %}
                            <h3 class="mt-3">My review:</h3>
                            <form action="{{url_for('add_review', movie_id=result.id) }}", method="POST">
                                {{form.hidden_tag()}}
                                <div>
                                    {{form.review(class="review-form")}}
                                </div>
                                <div>
                                    {{form.submit(class='btn btn-dark signup-btn')}}
                                </div>
                            </form>
                            {% else %}
                            <h3>To add a review, <a href="{{ url_for('signup') }}"><strong>signup</strong></a> for a new account or <a href="{{ url_for('login') }}"><strong>login</strong></a> if you have one.</h3>
                            {%endif%}
                            <h3 class="mt-3">Reviews</h3>
                            {% if first_review is none %}
                            <h5>No one has reviewed this movie yet.</h5>
                            {% else %}
                            <div class="col-8 card mb-4 mt-3">
                                <div class="card-body fst-italic">
                                    <div>
                                        {{result.review}}
                                        <p>
                                            -{{result.author}}
                                        </p>
                                    </div>
                                </div>
                           
                            </div>
                            {% endif %}
                            {% for review in reviews %}
                            <div class="col-8 card mb-3">
                            <div class="card-body fst-italic">
                                <div>
                                    {{review.review}}
                                    <p>
                                        -{{review.user.username}}
                                    </p>
                                </div>
                                {% if current_user.id == review.user_id%}
                                <div>
                                    <a href="{{url_for('update_review', review_id=review.review_id)}}">
                                        <button class="btn signup-btn">
                                            Update
                                        </button>
                                    </a>
                                    <form action="{{url_for('delete_review', review_id=review.review_id)}}", method="DELETE">
                                        {{form.hidden_tag()}}
                                        <input class="btn signup-btn" type="submit", name="delete", value="Delete">
                                    </form>
                                </div>
                                {%endif%}
                            </div>
                            </div>
                            {%endfor%}
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

