{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w500{{ result.poster_path }}" class="img-fluid" alt="{{ result.title }} poster">
        </div>
        <div class="col-md-8">
            <h1>{{ result.title }}</h1>
            <p><small>Director: {{ result.director }}</small></p>
            <p><strong>Overview:</strong> {{ result.overview }}</p>
            <p>Release Date: {{ result.release_date }}</p>
            <p>Rating: {{ result.rating }}</p>
            <p><strong>Review:</strong> {{ result.review }}</p>
            <p><small>Author: {{ result.author }}</small></p>
            <p><strong>Cast:</strong></p>
            <ul>
                {% for member in result.cast %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

