{% extends "base.html" %}

{% block content %}
<div class='container'>
    <h1>{{genre_name}} Titles</h1>
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle filter" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('genre', genre_name=genre_name, filter_typ=filter_typ, sort_opt='popularity') }}">Popularity</a></li>
            <li><a class="dropdown-item" href="{{ url_for('genre', genre_name=genre_name, filter_typ=filter_typ, sort_opt='vote_average') }}">Rating</a></li>
            <li><a class="dropdown-item" href="{{ url_for('genre', genre_name=genre_name, filter_typ=filter_typ, sort_opt='release_date') }}">Release Date</a></li>
        </ul>
    </div>
    <div class="row">
        {% for result in results %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('info', movie_id=result.id) }}">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w500{{ result.poster_path }}" class="card-img-top" alt="{{ result.title }} poster">
                <div class="card-body search-cards ">
                    <h5 class="card-title">{{ result.title }}</h5>
                    <p class="card-text">{{ result.overview }}</p>
                    <p class="card-text"><small class="text-muted">Release date: {{ result.release_date }}</small></p>
                    <p class="card-text"><small class="text-muted">Rating: {{ result.rating }}</small></p>
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

