{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row g-0">
        <div class="col-md-12">
            <h1 class="text-center mt-4">{{data.movie_title}}</h1>
            <p class="text-center">{{data.director}}</p>
            <p class="text-center">Release date: {{data.release_date}}</p>
        </div>
        <div class="container-fluid pt-md-4">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="{{data.poster_path}}" alt="{{data.movie_title}} poster" class="img-fluid mb-3">
                </div>
                <div class="col-md-6 pt-md-4">
                    <div class="row justify-content-center">
                        <div class="col-md-8 w-100">
                            <h3 class="pt-xs-4">Plot: </h3>
                            {{data.plot}}
                            <h3 class="mt-3">Rating: {{data.score|round(1, 'floor')}}/10.0</h4>
                            <!-- <div class="col-6 mt-3 mb-3">
                                <strong>

                                    <span class="text-secondary"><i class="fa-solid fa-film"></i></span>

                                    <span class="text-secondary">Favourite </span>
                                </strong>

                            </div> -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark signup-btn"><a>Add
                            Review</a>
                    </button>
                </div>
                <!-- Users will be able to add reviews on the same page so no need to create a new template. The review is a sample review. -->
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Reviews</h2>
                            <div class="col-8 card mb-4 mt-3">
                                <div class="card-body fst-italic">
                                    <div>
                                        Loved how the picture moved consecutively.
                                        <p>
                                            -Username
                                        </p>
                                        <p class="text-date">
                                            Uploaded on: 13-06-2023
                                        </p>
                                        <a class=" btn edit-btn" href="#">Edit</a>
                                        <a class=" btn delete-btn" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% endblock %}